/*Modals_our work*/
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.is-open {
  opacity: 1;
  pointer-events: initial;
}

.modal_overlay {
  position: relative;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 90%;
  max-height: 95%;
}

.modal_img {
  border: 2px solid white;
  opacity: 1;
}


.modal_button-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 1px solid white;
  box-shadow: 2px 2px 2px 2px rgba(51, 51, 51, 1);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  outline: none;
  background-image: url('../images/our_works/icon-close.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.modal_button-close:hover {
  background-color: black;

}

.modal_button {
  position: absolute;
  cursor: pointer;
  top: 50%;
  width: 40px;
  height: 30px;
  border: none;
  background-color: white;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
}

.modal_button:hover {
  background-color: rgb(214, 208, 208);
}


.modal_button-right {
  right: 5%;
  background-image: url(../images/our_works/right.svg);
}

.modal_button-left {
  left: 5%;
  background-image: url(../images/our_works/left.svg);
}
