.works {
  padding-top: 3rem;
  @media screen and (min-width: 576px) {
    padding-top: 8rem;
  }

  .works_title {
    @extend %sec-title-style;
    margin-bottom: 4rem;
    @media screen and (min-width: 576px) {
      margin-bottom: 8rem;
    }
  }
}

.gallery {
  position: relative;  
  list-style: none;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .gallery__item {
    width: 50%;
    padding: 10px;

    @media (min-width: 992px) {
      width: 25%;
    }
  }

  .gallery__image {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .gallery__link:hover {
    cursor: zoom-in;
  }
}
